<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>expense</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>amount</th>
    </tr>
    {% for exp in expenses %}
        <tr>
            <td>{{ exp.id }}</td>
            <td>{{ exp.name }}</td>
            <td>{{ exp.amount }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>